{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Category{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Category{% endtrans %}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <a class="btn btn-warning" href="{{ path('category_index') }}"><i class="fas fa-arrow-circle-left"></i>&nbsp;{% trans %}back to list{% endtrans %}back to list</a>
    
    <br><br>
    {{ include('category/_delete_form.html.twig') }}
    
{% endblock %}
