{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}
    <br>

    <a class="btn btn-warning" href="{{ path('category_index') }}"><i class="fas fa-arrow-circle-left"></i>&nbsp;back to list</a>
{% endblock %}
